<div class="product-area">
    <div class="container">
        <div class="section-header">
            <div class="section-title"><span>Recently Viewed</span> Diamonds</div>
        </div>
        <owl-carousel-o [options]="customOptions02">
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/1.png" alt="">
                    </div>
                    <div class="product-content">
                        <div class="product-name">
                            <h4>0.70-Carot Round Cut Diamond</h4>
                            <p>Ideal | E | VVS1</p>
                        </div>
                        <div class="product-price">
                            <div class="row no-gutters align-items-center">
                                <div class="col-6">
                                    <h6>$ <span>2.946</span></h6>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/2.png" alt="">
                    </div>
                    <div class="product-content">
                        <div class="product-name">
                            <h4>0.70-Carot Round Cut Diamond</h4>
                            <p>Ideal | E | VVS1</p>
                        </div>
                        <div class="product-price">
                            <div class="row no-gutters align-items-center">
                                <div class="col-6">
                                    <h6>$ <span>2.946</span></h6>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/3.png" alt="">
                    </div>
                    <div class="product-content">
                        <div class="product-name">
                            <h4>0.70-Carot Round Cut Diamond</h4>
                            <p>Ideal | E | VVS1</p>
                        </div>
                        <div class="product-price">
                            <div class="row no-gutters align-items-center">
                                <div class="col-6">
                                    <h6>$ <span>2.946</span></h6>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/4.png" alt="">
                    </div>
                    <div class="product-content">
                        <div class="product-name">
                            <h4>0.70-Carot Round Cut Diamond</h4>
                            <p>Ideal | E | VVS1</p>
                        </div>
                        <div class="product-price">
                            <div class="row no-gutters align-items-center">
                                <div class="col-6">
                                    <h6>$ <span>2.946</span></h6>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/5.png" alt="">
                    </div>
                    <div class="product-content">
                        <div class="product-name">
                            <h4>0.70-Carot Round Cut Diamond</h4>
                            <p>Ideal | E | VVS1</p>
                        </div>
                        <div class="product-price">
                            <div class="row no-gutters align-items-center">
                                <div class="col-6">
                                    <h6>$ <span>2.946</span></h6>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/1.png" alt="">
                    </div>
                    <div class="product-content">
                        <div class="product-name">
                            <h4>0.70-Carot Round Cut Diamond</h4>
                            <p>Ideal | E | VVS1</p>
                        </div>
                        <div class="product-price">
                            <div class="row no-gutters align-items-center">
                                <div class="col-6">
                                    <h6>$ <span>2.946</span></h6>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/2.png" alt="">
                    </div>
                    <div class="product-content">
                        <div class="product-name">
                            <h4>0.70-Carot Round Cut Diamond</h4>
                            <p>Ideal | E | VVS1</p>
                        </div>
                        <div class="product-price">
                            <div class="row no-gutters align-items-center">
                                <div class="col-6">
                                    <h6>$ <span>2.946</span></h6>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/3.png" alt="">
                    </div>
                    <div class="product-content">
                        <div class="product-name">
                            <h4>0.70-Carot Round Cut Diamond</h4>
                            <p>Ideal | E | VVS1</p>
                        </div>
                        <div class="product-price">
                            <div class="row no-gutters align-items-center">
                                <div class="col-6">
                                    <h6>$ <span>2.946</span></h6>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>  
        </owl-carousel-o>
    </div>
</div>
