.header-margin{
    margin-top:110px;
}
.contact_detail li{
    color: #333;
    font-size: 18px;
    vertical-align: middle;
    display: inline-block;
    padding: 0;
    font-weight:600;
}
.search_wrap{
    padding:10px 25px;
    background-color:#F7F7F7;
    border-radius:5px;
}
.navbar-nav li{
    padding: 0px 15px;
}
.contact_detail i {
    margin-right: 10px;
    vertical-align: middle;
    font-size: 20px;
    color: #F87C71;
}
.search_wrap .form-control {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0 20px 0px 0px;
    height: auto;
}
.search_wrap .form-control:focus{
    box-shadow: none !important;
    outline:none !important;
}
.search_wrap .form-control::placeholder{
    font-size:14px;
    opacity: 0.3;
}
.search_icon {
    font-size: 20px;
    position: absolute;
    right: 40px;
    top: 8px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    color: #000;
}
.navbar-nav .dropdown-menu.cart_box{
    width: 320px;
    position: absolute !important;
    -webkit-transform: scale(0) !important;
    transform: scale(0) !important;
    -webkit-transform-origin: -webkit-calc(100% - 30px) 0;
    transform-origin: calc(100% - 30px) 0;
    display: block;
    transition: all 0.25s ease-in-out;
    padding: 0;
    top: 100% !important;
    left: auto !important;
    right: 0;
}
.cart_dropdown:hover > .dropdown-menu.cart_box{
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
}
.cart_box .cart_list{
    width: 100%;
    padding: 0 !important;
    max-height: 242px;
    overflow-y: auto;
}
.dropdown-menu li a i {
    font-size: 14px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}
.cart_list img {
    border: 1px solid #ddd;
    background-color: #ffffff;
    float: left;
    margin-right: 10px;
    max-width: 80px;
}
.cart_quantity {
    color: #000;
    display: table;
    margin-top: 5px;
    font-weight: 500;
}
.cart_count, .wishlist_count{
    position: absolute;
    top: 2px;
    right: -5px;
    font-size: 11px;
    background-color: #F87C71;
    border-radius: 50px;
    height: 12px;
    line-height: 12px;
    color: #fff;
    width: 12px;
    text-align: center;
    padding: 0 5px;
    display: inline-block;
}
.navbar{
    padding:0;
}
.navbar-nav.attr-nav li .nav-link{
    padding:0;
    position: relative;
    white-space: nowrap;
    color: #161328;
    font-size:25px;
    font-weight:500;
}
.cart_list a {
    font-size: 14px;
    vertical-align: top;
    padding: 0 !important;
    text-transform: capitalize;
    font-weight: 600;
}
.cart_list li {
    border-bottom: 1px solid #3f3f3f;
    padding: 15px;
    display:inline-block;
    width: 100%;
}
.item_remove {
    float: right;
    margin-left: 5px;
    color: #333 !important;
}
.cart_total {
    color: #000;
    margin: 0;
    padding: 10px 15px;
    font-weight: 600;
    text-align: right;
}
.cart_buttons {
    margin: 0;
    padding: 10px 15px 20px;
    text-align: center;
}
.btn + .btn {
    margin-left: 10px;
}
.lanug-btn{
    font-size:12px;
    text-transform: capitalize;
    opacity:0.7;
}
.lang-area{
    text-transform: uppercase;
    font-size: 18px !important;
}
.lang-area img{  
    padding-left: 6px;
    margin-top: -2px;
}
.login-btn{
    padding: 6px 30px;
}
.dropdown-menu{
    width: 170px;
    position: absolute;
    display: block;
    transition: all 0.25s ease-in-out;
    padding: 10px;
    top: 100%;
    left: 0;
    transform:translateY(5%);
    opacity:0;
    visibility: hidden;
    transition:all 0.3s;
    -webkit-transition: all 0.3s;
}
.cart_dropdown:hover .dropdown-menu{
    transform:translateY(0);
    opacity:1;
    visibility: visible;
    transition:all 0.3s;
    -webkit-transition: all 0.3s;
}
.language-box ul li{
    padding:10px 0px;
    border-bottom:1px solid #ccc;
    padding:5px;
}
.language-box ul li:hover{
    background-color:#e5e5e5;
}
.language-box ul li:last-child{
    border-bottom:none;
}
.language-box ul li a{
    width:100%;
    position: relative;
    display: inline-block;
}
.language-box ul li a span{
    position: absolute;
    right:0;
    top:0;
}
#header {
    height:110px;
    z-index: 997;
    padding: 30px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background-color: #fff;
    border-bottom:1px solid #dee2e6;
}
  
 #header.header-scrolled,
  #header.header-pages {
    height:90px;
    padding: 20px 0px;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
    z-index: 997;
    border-bottom:none;
}
input[type="radio"]{
    position: relative;
}
input[type="radio"]:checked::before{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    content:'';
    border:1px solid #F87C71;
    border-radius:100%;
}
input[type="radio"]:checked::after{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 9px;
    height: 9px;
    content:'';
    background-color:#F87C71;
    border-radius:100%;
}
@media(max-width:1380px){
    .contact_detail li{
        font-size: 14px;
    }
    
}
@media(max-width:1200px){
    .contact_detail li{
        padding:2px 2px 2px 0;
    }
}
@media(max-width:992px){
    .navbar-nav{
        flex-direction: inherit;
    }
    #header{
        height:135px;
        padding:15px 0px;
    }
    .header-margin{
        margin-top:135px;
    }
    #header.header-scrolled{
        height:128px;
        padding:10px 0px;
    }
    .search_wrap{
        margin-bottom: 10px;
    }
}
@media(max-width:767px){
    .contact_detail{
        display:none;
    }
    .lanug-btn{
        font-size:12px;
    }
    .lang-area{
        font-size:15px !important;
    }
}
@media(max-width:480px){
    .navbar-nav .dropdown-menu.cart_box{
        left:0 !important;
        right:auto;
        transform-origin:calc(0% - 30px) 0;
    }
    .dropdown-menu{
        left:auto;
        right:0;
    }
    .navbar-nav.attr-nav li .nav-link{
        font-size:20px;
    }
    .cart_count, .wishlist_count{
        height: 10px;
        line-height: 10px;
        width:10px;
    }
    #header{
        height:105px;
        padding:10px 0px;
    }
    .header-margin{
        margin-top:105px;
    }
    #header.header-scrolled{
        height:102px;
    }
    .search_wrap{
        padding:5px 25px;
    }
    .search_icon{
        top:5px;
        font-size: 18px;
    }
}