<div class="footer-area border-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4">
                <div class="footer-logo" routerLink="/">
                    <img src="../../assets/images/logo/logo (png black)@2x.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="footer-box">
                    <h4>Contact:</h4>
                    <ul>
                        <li><a href="tel:+91-9760225557"><i class="fa fa-phone"></i>+91-9760225557</a></li>
                        <li><a href="mailto:saransh2agarwal@gmail.com"><i class="fa fa-envelope"></i>saransh2agarwal@gmail.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 border-right border-left">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="footer-box">
                            <h4>Read:</h4>
                            <ul>
                                <li><a routerLink="/terms">Terms & Conditions</a></li>
                                <li><a routerLink="/privacy">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-10">
                        <div class="footer-box">
                            <h4>Get Exclusive Offers and Deals:</h4>
                            <div class="subscribe-area">
                                <form action="">
                                    <input type="text" class="form-control" placeholder="Enter Email Address">
                                    <button type="button" class="btn btn-fill-out">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="text-right social-icon">
                    <a href="#"><img src="../../assets/images/social-icon/1.svg" alt=""></a>
                    <a href="#"><img src="../../assets/images/social-icon/2.svg" alt=""></a>
                    <a href="#"><img src="../../assets/images/social-icon/3.svg" alt=""></a>
                    <a href="#"><img src="../../assets/images/social-icon/4.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
