<app-header></app-header>
<div class="wishlist-area">
    <div class="container">
        <div class="wishlist-header">
            <h2><i class="fa fa-heart"></i> Wishlist</h2>
        </div>
        <div class="wishlist-box">
            <div class="row align-items-center no-gutters">
                <div class="col-3 col-lg-2">
                    <div class="wishlist-product">
                        <div class="product-img">
                            <img src="../../assets/images/product-img-02.png" alt="">
                        </div>
                        <button type="button" class="btn remove-btn">Remove <i class="ti-close"></i></button>
                    </div>
                </div>
                <div class="col-9 col-lg-10">
                    <div class="product-content">
                        <div class="row no-gutters align-items-center">
                            <div class="col-lg-9">
                                <h4>0.70-Carot Round Cut Diamond</h4>
                                <h6>Total Carat weight 0.70</h6>
                                <p>Round Cut, Ideal Cut, E-Color, VVS1 Clarity</p>
                                <p>Stock #: LD14806781</p>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-fill-out"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                            </div>
                        </div>     
                    </div>
                </div>
            </div>
        </div>
        <div class="wishlist-box">
            <div class="row align-items-center no-gutters">
                <div class="col-3 col-lg-2">
                    <div class="wishlist-product">
                        <div class="product-img">
                            <img src="../../assets/images/product-img-02.png" alt="">
                        </div>
                        <button type="button" class="btn remove-btn">Remove <i class="ti-close"></i></button>
                    </div>
                </div>
                <div class="col-9 col-lg-10">
                    <div class="product-content">
                        <div class="row no-gutters align-items-center">
                            <div class="col-lg-9">
                                <h4>0.70-Carot Round Cut Diamond</h4>
                                <h6>Total Carat weight 0.70</h6>
                                <p>Round Cut, Ideal Cut, E-Color, VVS1 Clarity</p>
                                <p>Stock #: LD14806781</p>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-fill-out"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                            </div>
                        </div>     
                    </div>
                </div>
            </div>
        </div>
        <div class="wishlist-box">
            <div class="row align-items-center no-gutters">
                <div class="col-3 col-lg-2">
                    <div class="wishlist-product">
                        <div class="product-img">
                            <img src="../../assets/images/product-img-02.png" alt="">
                        </div>
                        <button type="button" class="btn remove-btn">Remove <i class="ti-close"></i></button>
                    </div>
                </div>
                <div class="col-9 col-lg-10">
                    <div class="product-content">
                        <div class="row no-gutters align-items-center">
                            <div class="col-lg-9">
                                <h4>0.70-Carot Round Cut Diamond</h4>
                                <h6>Total Carat weight 0.70</h6>
                                <p>Round Cut, Ideal Cut, E-Color, VVS1 Clarity</p>
                                <p>Stock #: LD14806781</p>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-fill-out"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                            </div>
                        </div>     
                    </div>
                </div>
            </div>
        </div>
        <div class="wishlist-box">
            <div class="row align-items-center no-gutters">
                <div class="col-3 col-lg-2">
                    <div class="wishlist-product">
                        <div class="product-img">
                            <img src="../../assets/images/product-img-02.png" alt="">
                        </div>
                        <button type="button" class="btn remove-btn">Remove <i class="ti-close"></i></button>
                    </div>
                </div>
                <div class="col-9 col-lg-10">
                    <div class="product-content">
                        <div class="row no-gutters align-items-center">
                            <div class="col-lg-9">
                                <h4>0.70-Carot Round Cut Diamond</h4>
                                <h6>Total Carat weight 0.70</h6>
                                <p>Round Cut, Ideal Cut, E-Color, VVS1 Clarity</p>
                                <p>Stock #: LD14806781</p>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-fill-out"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                            </div>
                        </div>     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>