<app-header></app-header>
<div class="product-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="produt-images-area">
                    <div class="side-img">
                        <img src="../../assets/images/360-degrees.svg" alt=""> <br>
                        <img src="../../assets/images/diamond-mini.png" alt="">
                    </div>
                    <div class="product-main-img">
                        <img src="../../assets/images/product-img.png" alt="">
                        <div class="product-contoller">
                            <div><a href="#"><i class="fa fa-undo"></i></a></div>
                            <div><a href="#"><i class="fa fa-pause"></i></a></div>
                            <div><a href="#"><i class="fa fa-repeat"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="product-details-content">
                    <h4>0.70-Carot Round Cut Diamond</h4>
                    <p>Ideal | E | VVS1</p>
                    <h6><del>$ 2.946</del></h6>
                    <h2>$ <span> 2.946</span></h2>
                    <p>Bank Wire Price : $2854.20</p>
                    <div class="row align-items-center martop">
                        <div class="col-6 col-md-4">
                            <button class="btn btn-fill-out" routerLink="/cart"><span><i class="fa fa-shopping-cart"></i></span> Add to Cart</button>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="d-flex wishlist-btn">
                                <img src="../../assets/images/Icon awesome-heart.svg" alt="">
                                <span>Add to <br> Wishlist</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="compare-section">
    <div class="container">
        <h3>Compare Alternate <span>Diamonds</span></h3>
        <div class="table-responsive">
            <table>
                <tr>
                    <th></th>
                    <th>Your current selection</th>
                    <th>Smaller with more sparkle</th>
                    <th>Similar Diamond</th>
                    <th>Bigger with more flaws</th>
                    <th>More flaws less sparkles</th>
                </tr>
                <tr>
                    <td></td>
                    <td style="padding:0; padding-right:1px;"><img src="../../assets/images/product-img.png" alt=""></td>
                    <td style="padding:0; border:none; padding-right:1px;"><img src="../../assets/images/product-img.png" alt=""></td>
                    <td style="padding:0; padding-right:1px;"><img src="../../assets/images/product-img.png" alt=""></td>
                    <td style="padding:0; border:none; padding-right:1px;"><img src="../../assets/images/product-img.png" alt=""></td>
                    <td style="padding:0; padding-right:1px;"><img src="../../assets/images/product-img.png" alt=""></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>$2,607</td>
                    <td>$2,607</td>
                    <td>$2,607</td>
                    <td>$2,607</td>
                    <td>$2,607</td>
                </tr>
                <tr>
                    <td>Difference</td>
                    <td></td>
                    <td></td>
                    <td><b>— $2,607</b></td>
                    <td><b>— $2,607</b></td>
                    <td><b>— $2,607</b></td>
                </tr>
                <tr>
                    <td>Carat</td>
                    <td>0.7</td>
                    <td>0.7</td>
                    <td>0.7</td>
                    <td>0.7</td>
                    <td>0.7</td>
                </tr>
                <tr>
                    <td>Cut</td>
                    <td>Ideal</td>
                    <td>Ideal</td>
                    <td>Ideal</td>
                    <td>Ideal</td>
                    <td>Ideal</td>
                </tr>
                <tr>
                    <td>Color</td>
                    <td>F</td>
                    <td>F</td>
                    <td>F</td>
                    <td>F</td>
                    <td>F</td>
                </tr>
                <tr>
                    <td>Clarity</td>
                    <td>VVS1</td>
                    <td>VVS1</td>
                    <td>VVS1</td>
                    <td>VVS1</td>
                    <td>VVS1</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="text-center">
                           <a href="#"> View details <i class="ti-arrow-right"></i></a>
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            <a href="#"> View details <i class="ti-arrow-right"></i></a>
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            <a href="#"> View details <i class="ti-arrow-right"></i></a>
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            <a href="#"> View details <i class="ti-arrow-right"></i></a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="diamond-details">
    <div class="container">
        <h3>Diamond <span>Details</span></h3>
        <div class="row">
            <div class="col-lg-7">
                <div class="diamond-table">
                    <div class="diamond-details-header">
                        <h4>Brand Name</h4>
                        <a href="#">view report <i class="ti-arrow-right"></i></a>
                    </div>
                    <table>
                        <tr>
                            <th>Shape</th>
                            <td>Round</td>
                        </tr>
                        <tr>
                            <th>Cut</th>
                            <td>Ideal</td>
                        </tr>
                        <tr>
                            <th>Color</th>
                            <td>F</td>
                        </tr>
                        <tr>
                            <th>Clarity</th>
                            <td>VVS1</td>
                        </tr>
                        <tr>
                            <th>Carat Weight</th>
                            <td>0.70</td>
                        </tr>
                        <tr>
                            <th>Flourescence</th>
                            <td>None</td>
                        </tr>
                        <tr>
                            <th>Length / Width Ratio</th>
                            <td>1.01</td>
                        </tr>
                        <tr>
                            <th>Depth %</th>
                            <td>62.2%</td>
                        </tr>
                        <tr>
                            <th>Table %</th>
                            <td>55.0%</td>
                        </tr>
                        <tr>
                            <th>Polish</th>
                            <td>Excellent</td>
                        </tr>
                        <tr>
                            <th>Symmetry</th>
                            <td>Very Good</td>
                        </tr>
                        <tr>
                            <th>Girdle</th>
                            <td>Medium to Slightly thick</td>
                        </tr>
                        <tr>
                            <th>Culet</th>
                            <td>None</td>
                        </tr>
                        <tr>
                            <th>Measurements</th>
                            <td>5.65 x 5.68 X 3.53 mm</td>
                        </tr>
                        <tr>
                            <th>Stock Number</th>
                            <td>LD123456789876544</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="diamond-details-img">
                    <img src="../../assets/images/details-img-01.png" alt="">
                    <img src="../../assets/images/details-img-02.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<app-related-product></app-related-product>
<app-footer></app-footer>