<app-header></app-header>
<div class="billing-details">
    <div class="container">
        <div class="bill-header">
            <h2>Billing & Shipping Details</h2>
            <div class="row">
                <div class="col-lg-7">
                    <div class="billing-form">
                        <h4>Billing Address</h4>
                        <form action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Name*</label>
                                        <input type="text" class="form-control" placeholder="Enter your name here..">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Enter your email address*</label>
                                        <input type="text" class="form-control" placeholder="Enter your email here..">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Enter your phone number*</label>
                                        <input type="text" ng2TelInput class="form-control phone-input" placeholder="Enter your phone here.."/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Company Name</label>
                                        <input type="text" class="form-control" placeholder="Enter your company here..">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Address line 1*</label>
                                        <input type="text" class="form-control" placeholder="Enter Address line 1…">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Address line 2</label>
                                        <input type="text" class="form-control" placeholder="Enter Address line 2…">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">City*</label>
                                        <input type="text" class="form-control" placeholder="Enter City name here…">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">State*</label>
                                        <select name="" id="" class="form-control">
                                            <option value="">Select your state…</option>
                                            <option value="">Select your state…</option>
                                            <option value="">Select your state…</option>
                                            <option value="">Select your state…</option>
                                            <option value="">Select your state…</option>
                                            <option value="">Select your state…</option>
                                            <option value="">Select your state…</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Zip Code*</label>
                                        <input type="text" class="form-control" placeholder="Enter City name here…">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Country*</label>
                                        <select name="" id="" class="form-control">
                                            <option value="">India</option>
                                            <option value="">India</option>
                                            <option value="">India</option>
                                            <option value="">India</option>
                                            <option value="">India</option>
                                            <option value="">India</option>
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group d-flex align-items-center">
                                        <label for="" class="m-0">Address Type*</label>
                                        <div class="d-flex">
                                            <div class="d-flex align-items-center">
                                                <input type="radio" name="type"> <span>Home</span>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <input type="radio" name="type"> <span>Business</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h4>Shipping Address</h4>
                                        <div class="d-flex align-items-center ship-check">
                                            <input type="checkbox"> <span>Same as billing address</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 bil-form">
                                    <p><a routerLink="/login"> Sign-in</a> or <a routerLink="/register">register</a> to checkout faster.</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="product-order-details">
                        <table>
                            <tr>
                                <th><h4>Order #:</h4></th>
                                <td><h4>11927371</h4></td>
                            </tr>
                            <tr>
                                <th>Items:</th>
                                <td>2</td>
                            </tr>
                            <tr>
                                <th>Shipping:</th>
                                <td>FedEx Priority Overnight</td>
                            </tr>
                            <tr>
                                <th>Item Total:</th>
                                <td>$2,880.00</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="subscribe-area">
                                        <form action="">
                                            <input type="text" class="form-control" placeholder="Enter Promo Code">
                                            <button type="button" class="btn btn-fill-out">Apply</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>GST (18%):</th>
                                <td>$600.00</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="dotted-border"></td>
                            </tr>
                            <tr>
                                <th><h3>TOTAL:</h3></th>
                                <td><h3>$ <span>3,440</span></h3></td>
                            </tr>
                        </table>
                        <div class="text-center mt-3">
                            <button type="button" routerLink="/payment" class="btn btn-fill-out">Confirm and pay <i class="ti-arrow-right"></i></button>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
