<app-header></app-header>
<div class="cart-section">
    <div class="container">
        <div class="cart-heading">
            <h2><i class="fa fa-shopping-cart"></i> My Cart</h2>
        </div>
        <div class="row">
            <div class="col-lg-7 border-right">
                <div class="cart-product">
                    <div class="row no-gutters">
                        <div class="col-4">
                            <div class="product-img">
                                <div class="cart-product-img">
                                    <img src="../../assets/images/product-img.png" alt="">
                                </div>
                                <button type="button" class="btn remove-btn">Remove <i class="ti-close"></i></button>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="product-content">
                                <h4>0.70-Carot Round Cut Diamond</h4>
                                <h6>Total Carat weight 0.70</h6>
                                <p>Round Cut, Ideal Cut, E-Color, VVS1 Clarity</p>
                                <p>Stock #: LD14806781</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-product">
                    <div class="row no-gutters">
                        <div class="col-4">
                            <div class="product-img">
                                <div class="cart-product-img">
                                    <img src="../../assets/images/product-img.png" alt="">
                                </div>
                                <button type="button" class="btn remove-btn">Remove <i class="ti-close"></i></button>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="product-content">
                                <h4>0.70-Carot Round Cut Diamond</h4>
                                <h6>Total Carat weight 0.70</h6>
                                <p>Round Cut, Ideal Cut, E-Color, VVS1 Clarity</p>
                                <p>Stock #: LD14806781</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="product-order-details">
                    <table>
                        <tr>
                            <th><h4>Order #:</h4></th>
                            <td><h4>11927371</h4></td>
                        </tr>
                        <tr>
                            <th>Items:</th>
                            <td>2</td>
                        </tr>
                        <tr>
                            <th>Shipping:</th>
                            <td>FedEx Priority Overnight</td>
                        </tr>
                        <tr>
                            <th>Item Total:</th>
                            <td>$2,880.00</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="subscribe-area">
                                    <form action="">
                                        <input type="text" class="form-control" placeholder="Enter Promo Code">
                                        <button type="button" class="btn btn-fill-out">Apply</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>GST (18%):</th>
                            <td>$600.00</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="dotted-border"></td>
                        </tr>
                        <tr>
                            <th><h3>TOTAL:</h3></th>
                            <td><h3>$ <span>3,440</span></h3></td>
                        </tr>
                    </table>
                    <div class="text-center mt-3">
                        <button type="button" routerLink="/billing" class="btn btn-fill-out">Proceed to Checkout <i class="ti-arrow-right"></i></button>
                    </div> 
                </div>
            </div>
        </div>
        
        <!-- empty-card -->
        <!-- <div class="empty-card-area">
            <div class="empty-card-box">
                <img src="../../assets/images/shopping-cart-empty-side-view.svg" alt="">
                <p>Nothing to show here!</p>
                <button routerLink="/explore" class="btn btn-fill-out">Continue Shopping</button>
            </div>
        </div> -->
    </div>
</div>
<app-footer></app-footer>
