<section class="login-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
                <div class="login-box">
                    <img class="login-img01" src="../../assets/images/side-img.png" alt="">
                    <div class="login-content">
                        <div class="login-header">
                            <img src="../../assets/images/logo/logo (png black).png" alt="">
                            <h2>Verify your E-mail</h2>
                        </div>
                        <div class="login-form">
                            <h4>We’ve sent a verification link to your E-mail address. Click on the link to verify your account and complete the registration process.</h4>
                            <p>Didn’t receive mail? <a routerLink="/" > Resend</a></p>
                        </div>
                    </div>
                    <img class="login-img02" src="../../assets/images/bottom-left-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
