<app-header></app-header>
<div class="order-area">
    <div class="container">
        <div class="wishlist-header">
            <h2>My Orders</h2>
        </div>
        <div class="wishlist-box order-box">
            <ul>
                <li>Ordered on 22nd December 2020</li>
                <li>Order NO: 12345678910111213</li>
            </ul>
            <div class="row align-items-center no-gutters">
                <div class="col-3 col-lg-2">
                    <div class="product-img">
                        <img src="../../assets/images/product-img-02.png" alt="">
                    </div>
                </div>
                <div class="col-9 col-lg-10">
                    <div class="product-content">
                        <div class="row no-gutters align-items-center">
                            <div class="col-lg-9">
                                
                                <h4>0.70-Carot Round Cut Diamond</h4>
                                    <h6>Total Carat weight 0.70</h6>
                                    <p>Round Cut, Ideal Cut, E-Color, VVS1 Clarity</p>
                                <p>Stock #: LD14806781</p>
                            </div>
                            <div class="col-lg-3 break-btn">
                                <button routerLink="/order" class="btn btn-fill-out mb-lg-3">Track Packages</button> <br>
                                <button class="btn paybtn">Print Invoice</button>
                            </div>
                        </div>       
                    </div>
                </div>
            </div>
        </div>
        <div class="wishlist-box order-box">
            <ul>
                <li>Ordered on 22nd December 2020</li>
                <li>Order NO: 12345678910111213</li>
            </ul>
            <div class="row align-items-center no-gutters">
                <div class="col-3 col-lg-2">
                    <div class="product-img">
                        <img src="../../assets/images/product-img-02.png" alt="">
                    </div>
                </div>
                <div class="col-9 col-lg-10">
                    <div class="product-content">
                        <div class="row no-gutters align-items-center">
                            <div class="col-lg-9">
                                
                                <h4>0.70-Carot Round Cut Diamond</h4>
                                    <h6>Total Carat weight 0.70</h6>
                                    <p>Round Cut, Ideal Cut, E-Color, VVS1 Clarity</p>
                                <p>Stock #: LD14806781</p>
                            </div>
                            <div class="col-lg-3 break-btn">
                                <button class="btn mb-lg-3">Delivered</button> <br>
                                <button class="btn paybtn">Print Invoice</button>
                            </div>
                        </div>       
                    </div>
                </div>
            </div>
        </div>
        <div class="wishlist-box order-box">
            <ul>
                <li>Ordered on 22nd December 2020</li>
                <li>Order NO: 12345678910111213</li>
            </ul>
            <div class="row align-items-center no-gutters">
                <div class="col-3 col-lg-2">
                    <div class="product-img">
                        <img src="../../assets/images/product-img-02.png" alt="">
                    </div>
                </div>
                <div class="col-9 col-lg-10">
                    <div class="product-content">
                        <div class="row no-gutters align-items-center">
                            <div class="col-lg-9">
                                
                                <h4>0.70-Carot Round Cut Diamond</h4>
                                    <h6>Total Carat weight 0.70</h6>
                                    <p>Round Cut, Ideal Cut, E-Color, VVS1 Clarity</p>
                                <p>Stock #: LD14806781</p>
                            </div>
                            <div class="col-lg-3 break-btn">
                                <button class="btn mb-lg-3">Delivered</button> <br>
                                <button class="btn paybtn">Print Invoice</button>
                            </div>
                        </div>       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
