<app-header></app-header>
<div class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-logo">
                    <div class="banner-main-logo">
                        <img class="logo-img" src="../assets/images/logo/logo (png black)@2x.png" alt="">
                    </div>
                    <img class="path-img" src="../assets/images/Path 192.svg" alt="">
                    <img class="side-img" src="../assets/images/side-img.png" alt="">
                </div>
                <div class="banner-content">
                    <h2>Make every moment <br> precious with us!</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                    <button type="button" routerLink="/explore" class="btn btn-fill-out explore-btn">Explore Now!</button>
                    <img class="bottom-img" src="../assets/images/bottom-left-img.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner-img">
                    <div class="middle-img">
                        <img class="main-img" src="../assets/images/Group-2/Group 84@2x.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-area">
    <div class="container">
        <div class="section-header">
            <div class="section-title"><span>Recommended</span> Products</div>
        </div>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/1.png" alt="">
                    </div>
                    <div class="product-content">
                        <div class="product-name">
                            <h4>0.70-Carot Round Cut Diamond</h4>
                            <p>Ideal | E | VVS1</p>
                        </div>
                        <div class="product-price">
                            <div class="row no-gutters align-items-center">
                                <div class="col-6">
                                    <h6>$ <span>2.946</span></h6>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/2.png" alt="">
                    </div>
                    <div class="product-content">
                        <div class="product-name">
                            <h4>0.70-Carot Round Cut Diamond</h4>
                            <p>Ideal | E | VVS1</p>
                        </div>
                        <div class="product-price">
                            <div class="row no-gutters align-items-center">
                                <div class="col-6">
                                    <h6>$ <span>2.946</span></h6>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/3.png" alt="">
                    </div>
                    <div class="product-content">
                        <div class="product-name">
                            <h4>0.70-Carot Round Cut Diamond</h4>
                            <p>Ideal | E | VVS1</p>
                        </div>
                        <div class="product-price">
                            <div class="row no-gutters align-items-center">
                                <div class="col-6">
                                    <h6>$ <span>2.946</span></h6>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/4.png" alt="">
                    </div>
                    <div class="product-content">
                        <div class="product-name">
                            <h4>0.70-Carot Round Cut Diamond</h4>
                            <p>Ideal | E | VVS1</p>
                        </div>
                        <div class="product-price">
                            <div class="row no-gutters align-items-center">
                                <div class="col-6">
                                    <h6>$ <span>2.946</span></h6>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/5.png" alt="">
                    </div>
                    <div class="product-content">
                        <div class="product-name">
                            <h4>0.70-Carot Round Cut Diamond</h4>
                            <p>Ideal | E | VVS1</p>
                        </div>
                        <div class="product-price">
                            <div class="row no-gutters align-items-center">
                                <div class="col-6">
                                    <h6>$ <span>2.946</span></h6>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/1.png" alt="">
                    </div>
                    <div class="product-content">
                        <div class="product-name">
                            <h4>0.70-Carot Round Cut Diamond</h4>
                            <p>Ideal | E | VVS1</p>
                        </div>
                        <div class="product-price">
                            <div class="row no-gutters align-items-center">
                                <div class="col-6">
                                    <h6>$ <span>2.946</span></h6>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/2.png" alt="">
                    </div>
                    <div class="product-content">
                        <div class="product-name">
                            <h4>0.70-Carot Round Cut Diamond</h4>
                            <p>Ideal | E | VVS1</p>
                        </div>
                        <div class="product-price">
                            <div class="row no-gutters align-items-center">
                                <div class="col-6">
                                    <h6>$ <span>2.946</span></h6>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="product-box">
                    <div class="product-img">
                        <img src="../assets/images/product-img/3.png" alt="">
                    </div>
                    <div class="product-content">
                        <div class="product-name">
                            <h4>0.70-Carot Round Cut Diamond</h4>
                            <p>Ideal | E | VVS1</p>
                        </div>
                        <div class="product-price">
                            <div class="row no-gutters align-items-center">
                                <div class="col-6">
                                    <h6>$ <span>2.946</span></h6>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>  
        </owl-carousel-o>
    </div>
</div>
<div class="expore-type">
    <div class="container">
        <h3>Explore By <span>Type</span></h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, <br> sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
        <div class="row no-gutters">
            <div class="col-lg-12">
                <ul>
                    <li><a href="#"><img src="../assets/images/shape-icon/1.svg" alt=""> <br> Princess</a></li>
                    <li><a href="#"><img src="../assets/images/shape-icon/2.svg" alt=""> <br> Oval</a></li>
                    <li><a href="#"><img src="../assets/images/shape-icon/3.svg" alt=""> <br> Emerald</a></li>
                    <li><a href="#"><img src="../assets/images/shape-icon/4.svg" alt=""> <br> Cushion</a></li>
                    <li><a href="#"><img src="../assets/images/shape-icon/5.svg" alt=""> <br> Round</a></li>
                    <li><a href="#"><img src="../assets/images/shape-icon/6.svg" alt=""> <br> Pear</a></li>
                    <li><a href="#"><img src="../assets/images/shape-icon/7.svg" alt=""> <br> Ascher</a></li>
                    <li><a href="#"><img src="../assets/images/shape-icon/8.svg" alt=""> <br> Marquise</a></li>
                </ul>
            </div>
            <!-- <div class="col-lg-6">
                <ul>
                    <li><a href="#"><img src="../assets/images/shape-icon/5.svg" alt=""> <br> Round</a></li>
                    <li><a href="#"><img src="../assets/images/shape-icon/6.svg" alt=""> <br> Pear</a></li>
                    <li><a href="#"><img src="../assets/images/shape-icon/7.svg" alt=""> <br> Ascher</a></li>
                    <li><a href="#"><img src="../assets/images/shape-icon/8.svg" alt=""> <br> Marquise</a></li>
                </ul>
            </div> -->
        </div>
    </div>
</div>
<div class="sparkle-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="spark-content">
                    <h3>Maximum <span>Sparkle!</span></h3>
                    <ul>
                        <li><span></span> High quality at a great value!</li>
                        <li><span></span> Timeless styles, handcrafted in Seattle.</li>
                        <li><span></span> Legendary service, 30-day returns.</li>
                        <li><span></span> Ethically-Sourced, GIA-Graded.</li>
                    </ul>
                    <img class="spark-top-right-img" src="../assets/images/bottom-left-img.png" alt="">
                    <img class="spark-bottom-right-img" src="../assets/images/side-img.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="spark-img">
                    <img src="../assets/images/spark-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<app-related-product></app-related-product>
<app-footer></app-footer>