<app-header></app-header>
<div class="order-details-area">
    <div class="container">
        <div class="order-header">
            <h2>Order Details</h2>
            <ul>
                <li>Ordered on 22nd December 2020</li>
                <li>Order NO: 12345678910111213</li>
            </ul>
        </div>
        <div class="shipment-details">
            <div class="row">
                <div class="col-lg-5">
                    <div class="shipment-box">
                        <h3>Shipping Details</h3>
                        <p><b>Saransh Agarwal</b><br>109, Orange Drive, Malibu Town, Sohna Road <br>Orange Drive <br>Orange Drive <br>India</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="shipment-box">
                        <h3>Payment Method</h3>
                        <p><b>Net Banking</b></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="shipment-box">
                        <h3>Order Summary</h3>
                        <table>
                            <tr>
                                <th>Item(s) Total:</th>
                                <td>$2,880.00</td>
                            </tr>
                            <tr>
                                <th>GST:</th>
                                <td>$600.00</td>
                            </tr>
                            <tr>
                                <th>Discount:</th>
                                <td>$50.00</td>
                            </tr>
                            <tr>
                                <th><h6>Total:</h6></th>
                                <td><h6>$3,440.00</h6></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-product">
            <div class="row align-items-center no-gutters">
                <div class="col-3 col-lg-2">
                    <div class="product-img">
                        <img src="../../assets/images/product-img.png" alt="">
                    </div>
                </div>
                <div class="col-9 col-lg-10">
                    <div class="product-content">
                        <div class="row no-gutters align-items-center">
                            <div class="col-lg-9">
                                <h4>0.70-Carot Round Cut Diamond</h4>
                                    <h6>Total Carat weight 0.70</h6>
                                    <p>Round Cut, Ideal Cut, E-Color, VVS1 Clarity</p>
                                    <p>Stock #: LD14806781</p>
                                
                            </div>
                            <div class="col-lg-3 break-btn">
                                <button class="btn btn-fill-out mb-lg-4">Track Packages</button> <br>
                                <button class="btn paybtn">Print Invoice</button>
                            </div>
                        </div>     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
